.bannerTop {
  .banner {
    margin: auto;
    width: 1170px;
    padding-bottom: 60px;
    background-image: radial-gradient(
      ellipse at center,
      hsla(260, 78%, 35%, 0.4),
      transparent 75%
    );
    .bannerDivide {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      align-items: center;
      .text {
        width: 48%;
        margin-top: 20px;
        h2 {
          font-size: 48px;
          color: #fff;
          font-weight: 700;
          margin: 0;
          line-height: 54px;
          a {
            text-decoration: none;
            color: #fff;
            transition: 0.6s;
            background: linear-gradient(
              88deg,
              #fff,
              #fff 50%,
              #9786df 60%,
              #fff 90%
            );
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            background-size: 200% 100%;
            animation: animate 4s linear infinite;
            &:hover {
              color: #9786df;
            }
            @keyframes animate {
              from {
                background-position: 200%;
              }
              to {
                background-position: 0%;
              }
            }
          }
        }

        p {
          color: #fff;
          font-size: 20px;
          color: #ddd;
        }
        .button {
          display: block;
          margin-top: 40px;
          a {
            text-decoration: none;
            background: #fff;
            padding: 14px 50px;
            color: #000;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            transition: 0.6s;
            &:hover {
              background: #ddd;
            }
          }
        }
      }
      .image {
        width: 48%;
        position: relative;
        img {
          width: 100%;
          height: 500px;
          object-fit: contain;
        }
        .img {
          background: transparent;
          position: absolute;
          top: 12%;
          z-index: 99;
          left: 100px;
          height: 100px;
          max-width: 82px;
          transition: 0.6s;
          &:hover {
            transform: scale(1.1);
          }
        }
        .img1 {
          background: transparent;
          position: absolute;
          top: 26%;
          z-index: 99;
          right: 71px;
          height: 100px;
          width: 82px;
          transition: 0.6s;
          &:hover {
            transform: scale(1.1);
          }
        }
        .img2 {
          background: transparent;
          position: absolute;
          bottom: 3%;
          z-index: 99;
          left: 185px;
          height: 100px;
          width: 82px;
          transition: 0.6s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1350px) {
  .bannerTop {
    padding: 0px 20px;
    .banner {
      width: 100%;
      .text {
        h2 {
          font-size: 50px !important;
          line-height: 64px !important;
        }
        p {
          font-size: 22px !important;
          line-height: 33px;
        }
        .button a {
          padding: 21px 90px !important;
          font-size: 20px !important;
          margin-top: 5px;
          display: inline-block;
        }
      }

      .img {
        top: 13% !important;
        left: 50px !important;
        &:hover {
          transform: scale(1.1);
        }
      }
      .img1 {
        top: 27% !important;
        right: 33px !important;
        &:hover {
          transform: scale(1.1);
        }
      }
      .img2 {
        bottom: 7% !important;
        left: 135px !important;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .bannerTop {
    padding: 0px 20px;
    .banner {
      width: 100%;
      padding-bottom: 20px;
      .bannerDivide {
        padding-top: 0;
        .text {
          h2 {
            font-size: 40px !important;
            line-height: 54px !important;
          }
          p {
            font-size: 19px !important;
            line-height: 28px;
          }
          .button {
            margin-top: 10px;
            a {
              padding: 13px 40px !important;
              font-size: 18px !important;
              display: inline-block;
            }
          }
        }
        .img {
          top: 23% !important;
          right: 234px !important;
          height: 70px !important;
          width: 70px !important;
          &:hover {
            transform: scale(1.1);
          }
        }
        .img1 {
          top: 34% !important;
          right: 18px !important;
          height: 70px !important;
          width: 70px !important;
          &:hover {
            transform: scale(1.1);
          }
        }
        .img2 {
          bottom: 18% !important;
          right: 175px !important;
          height: 70px !important;
          width: 70px !important;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media screen and (min-device-width: 400px) and (max-device-width: 767px) {
  .bannerTop {
    padding: 0px 20px;
    .banner {
      width: 100%;
      padding-bottom: 0px;
      .bannerDivide {
        display: block;
        padding-top: 0;
        .text {
          width: 100%;
          h2 {
            font-size: 38px !important;
            line-height: 54px !important;
          }
          p {
            font-size: 19px !important;
            line-height: 28px;
          }
          .button {
            margin-top: 10px;
            a {
              padding: 13px 40px !important;
              font-size: 18px !important;
              display: inline-block;
            }
          }
        }
        .image {
          width: 100%;
          height: 480px;
          .img {
            top: 26% !important;
            height: 70px !important;
            left: 28px;
            width: 70px !important;

            &:hover {
              transform: scale(1.1);
            }
          }
          .img1 {
            top: 36% !important;
            right: 18px !important;
            height: 70px !important;
            width: 70px !important;
            &:hover {
              transform: scale(1.1);
            }
          }
          .img2 {
            bottom: 18% !important;
            left: 82px !important;
            height: 70px !important;
            width: 70px !important;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-device-width: 385px) and (max-device-width: 399px) {
  .bannerTop {
    padding: 0px 20px;
    .banner {
      width: 100%;
      padding-bottom: 0px;
      .bannerDivide {
        display: block;
        padding-top: 0;
        .text {
          width: 100%;
          h2 {
            font-size: 38px !important;
            line-height: 54px !important;
          }
          p {
            font-size: 19px !important;
            line-height: 28px;
          }
          .button {
            margin-top: 10px;
            a {
              padding: 13px 40px !important;
              font-size: 18px !important;
              display: inline-block;
            }
          }
        }
        .image {
          width: 100%;
          height: 480px;
          .img {
            top: 24% !important;
            height: 70px !important;
            left: 30px !important;
            width: 70px !important;
            &:hover {
              transform: scale(1.1);
            }
          }
          .img1 {
            top: 35% !important;
            right: 18px !important;
            height: 70px !important;
            width: 70px !important;
            &:hover {
              transform: scale(1.1);
            }
          }
          .img2 {
            bottom: 15% !important;
            left: 97px !important;
            height: 70px !important;
            width: 70px !important;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-device-width: 373px) and (max-device-width: 384px) {
  .bannerTop {
    padding: 0px 20px;
    .banner {
      width: 100%;
      padding-bottom: 0px;
      .bannerDivide {
        display: block;
        padding-top: 0;
        .text {
          width: 100%;
          h2 {
            font-size: 38px !important;
            line-height: 54px !important;
          }
          p {
            font-size: 19px !important;
            line-height: 28px;
          }
          .button {
            margin-top: 10px;
            a {
              padding: 13px 40px !important;
              font-size: 18px !important;
              display: inline-block;
            }
          }
        }
        .image {
          width: 100%;
          height: 480px;
          .img {
            top: 25% !important;
            height: 70px !important;
            left: 25px !important;

            &:hover {
              transform: scale(1.1);
            }
          }
          .img1 {
            top: 35% !important;
            right: 18px !important;
            height: 70px !important;
            width: 70px !important;
            &:hover {
              transform: scale(1.1);
            }
          }
          .img2 {
            bottom: 15% !important;
            left: 92px !important;
            height: 70px !important;
            width: 70px !important;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-device-width: 360px) and (max-device-width: 372px) {
  .bannerTop {
    padding: 0px 20px;
    .banner {
      width: 100%;
      padding-bottom: 0px;
      .bannerDivide {
        display: block;
        padding-top: 0;
        .text {
          width: 100%;
          h2 {
            font-size: 38px !important;
            line-height: 54px !important;
          }
          p {
            font-size: 19px !important;
            line-height: 28px;
          }
          .button {
            margin-top: 10px;
            a {
              padding: 13px 40px !important;
              font-size: 18px !important;
              display: inline-block;
            }
          }
        }
        .image {
          width: 100%;
          height: 480px;
          .img {
            top: 26% !important;
            height: 70px !important;
            left: 25px !important;

            &:hover {
              transform: scale(1.1);
            }
          }
          .img1 {
            top: 35% !important;
            right: 18px !important;
            height: 70px !important;
            width: 70px !important;
            &:hover {
              transform: scale(1.1);
            }
          }
          .img2 {
            bottom: 15% !important;
            left: 85px !important;
            height: 70px !important;
            width: 70px !important;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
